.title{
    font-family: ShadowsIntoLight !important;
    font-size: 50px;
    color: #F47C7C;
    display: inline-block;
    vertical-align: middle;
  }

.person{
    font-size: 150px;
    display: inline-block;
    vertical-align: middle;
}

.text{
    font-family: PlayFairDispaly-VariableFont;
    font-size: 18px;
    vertical-align: middle;
    text-align: justify;
    display: inline;
    color: black;
}
.card{
    background-color: #C2DED1;
    
}