<ion-header>
  <ion-toolbar color="danger">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg color">
  <ion-item>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="home" defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-toggle slot="end" (ionChange)='toggleTheme($event)'>
    </ion-toggle>
  </ion-item>
<center>
  <ion-icon class="person" name="person" color="dark"></ion-icon>
    <span class="title">Personal <br> Information</span>
</center>
    <ion-card class="card">
      <ion-card-content>
        <span class="text"> 
          <b>Name:</b> {{name}} <br>
          <b>Age:</b> {{age}} <br>
          <b>Birthday:</b> {{birthday}} <br>
          <b>Address:</b> {{address}} <br>
          <b>Contact No.:</b> {{contact}} <br>
          <b>Email:</b> {{email}} <br>
          <b>Nationality:</b> {{nationality}} <br>
        </span> 
      </ion-card-content>
    </ion-card>
</ion-content>
