.title{
    font-family: ShadowsIntoLight !important;
    font-size: 50px;
    color: #F47C7C;
    display: inline-block;
    vertical-align: middle;
  }

.educ{
    font-size: 150px;
    display: inline-block;
    vertical-align: middle;
}

.Snames{
    font-family: Graduate-Regular;
    font-size: 22px;
    color: black;
}

.ul{
    font-family: PlayFairDisplay-VariableFont;
    font-size: 18px;
    color: black;
}

.card{
    background-color: #C2DED1;
}