<ion-header>
  <ion-toolbar color="danger">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="home" defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-toggle slot="end" (ionChange)='toggleTheme($event)'>
    </ion-toggle>
  </ion-item>
<center>
  <ion-icon class="educ" name="school" color="dark"></ion-icon>
  <span class="title">Educational <br> Information</span>
</center>

<ion-card class="card">
  <ion-card-content>
    <span class="Snames"><b>{{junior}}:</b></span>
    <ul class="ul" style="list-style-type:none">
      <li><b>{{Hname}}</b></li>
        <ul class="ul" style="list-style-type:none">
          <li>{{Hplace}}</li>
        </ul>
    </ul>

    <span class="Snames"><b>{{senior}}:</b></span>
    <ul class="ul" style="list-style-type:none">
      <li><b>{{Hname}}</b></li>
        <ul class="ul" style="list-style-type:none">
          <li>{{Hplace}}</li>
        </ul>
    </ul>

    <span class="Snames"><b>{{college}}:</b></span>
    <ul class="ul" style="list-style-type:none">
      <li><b>{{BSU}}</b></li>
      <ul class="ul" style="list-style-type:none">
        <li>{{GCH}}</li>
      </ul>
    </ul>
  </ion-card-content>
</ion-card>
</ion-content>
