<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-toggle slot="end" (ionChange)='toggleTheme($event)'>
    </ion-toggle>
  </ion-item>
  <br>
  <center> <img class="displayed" height="200px" width="200px" src="assets/circle.png"> 

    <h1 class="title">About Me!</h1>

    <ion-button class="click" (click)="personalInfo()" shape="round" fill="solid" size="default" 
    color="lightpink">Personal Information</ion-button><br>
    <ion-button class="click" (click)="educationalInfo()" shape="round" fill="solid" size="default" 
    color="lightpink">Educational Information</ion-button>

  </center>

</ion-content>
